build/*.log
build/*.mp4
build/*.wav
build/assets/
build/final_qc.png
build/frames/
build/frames_cq/
build/frames_eu/
build/frames_full/
build/frames_pr/
build/qc_*.png
build/qc_eu.png
build/render*.log
build/render_cq.log
build/src/
build/style2.png
build/style3.png
build/style_sheet.png
build/wm/
